<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-3">
      <div class="user-contact">
        <div class="user-photo">
          <%= image_tag "moi.jpg" %>
        </div>
        <div class="user-info text-center">
          <h3>Vincent</h3>
          <i class="fa fa-map-marker"> Paris, France</i>
          <br>
          <hr>
          <div class="text-left">
            <i class="fa fa-map-marker"> Yosemite National Park</i>
          </div>
          <div class="text-left">
            <i class="fa fa-camera-retro"> IPhone 6S</i>
          </div>
          <div class="text-left">
            <i class="fa fa-calendar"> July 2015</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="pano-viewer">
        <h1>YOSEMITE</h1>
        <div class="pano-photo">
          <%= image_tag "pano4.JPG" %>
        </div>
        <div class="pano-zoom", id="pano-zoom">
        </div>
      </div>
    </div>


  </div>
</div>
